<h1>Arnold says: Create a workout now!</h1>

<img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQGneEUDlI4xIMRwNnRi3H5XxeGoE-5Jl8GxytZOa872UBOxZqz">

<form action="/workouts" method="post">
  <label for="name">Workout Name</label></br>
  <input type="text" name="name" placeholder="enter a workout name"></br>
  <label for="description">Description</label></br>
  <input type="text" name="description" placeholder="enter a brief description"></br>

<h4>Select videos for this workout</h4>
  <% Video.all.each do |video| %>
    <%= link_to video.name, video.url, :target => '_blank' %> <%= Lift.find(video.lift_id).name %></br>
    <%= check_box_tag "workout[video_ids][]", video.id, @workout.videos.include?(video) %></br>
<% end %>
<button>save</button>
</form>

