<h1><%= @workout.name %></h1>(Created: <%= @workout.created_at %>)

<ul>
<% @workout.videos.each do |video| %>
  <li><%= link_to video.name, video.url, :target => '_blank' %> ( <%= Lift.find(video.lift_id).name %> ) </li>
  <% end %>
</ul>

