<h1>My Lifts</h1>

<ul>
  <% @lifts.each do |lift| %>
    <li><a href="/lifts/<%= lift.id %>"><%= lift.name %></a> (<%= lift.videos.count %>)
    </li></br>
  <% end %>
    <li><a href="/lifts/videos">All Videos</a></li>
</ul>

<h3>Create new lift category</h3>
<form action="/lifts" method="post">
  <label for="name">Name</label></br>
  <input type="text" name="name" placeholder="enter a new category">
  <button>save</button>
</form>