<h1>Welcome to WorkoutBuilder</h1>
<p class="lead">WorkoutBuilder is the best way to find and quickly reference exercise specific instructional videos on YouTube. It allows you to find and reference videos based on muscle category or a specific workout that you create!.</p>

<div style="margin-left:150px">
<img src="http://irrationalfitness.com/wp-content/uploads/2012/04/weights1.jpg">
</div>

