<h1>Arnold says: Search for a Video!</h1>


<%= form_tag("/search/videos", method: "get") do %>
  <%= label_tag(:description, "Search for:") %>
  <%= text_field_tag(:description) %>
  <%= submit_tag("Search") %>
<% end %>


